$background: #1a1a1d;
$colour-red: #c3073f;
$colour-white: #ffffff;
$carrier-colour: #a020f0;
$battleship-colour: #ffff00;
$cruiser-colour: #00ff00;
$submarine-colour: #0000ff;
$destroyer-colour: #ffa500;
