@media (max-width: 1200px) {
  :root {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 10px;
  }

  @media (max-width: 768px) {
    :root {
      font-size: 10px;
    }
  }

  @media (max-width: 400px) {
    :root {
      font-size: 8px;
    }
  }
}
